.active {
	    //outline: 1px solid black;
    }
    .moreActive {
	    //outline: 3px dotted black;
    }
    .wiab_tool {
      display: none;
      position: relative;
      width: 0px;
      height: 0px;
      left: 300px;
      top: 200px;  
      z-index: 11;    
    }
    
        
    .wiab_arrow {    
    }
    
    .wiab_arrow .wiab_w {
      background: url("/static/images/left.png") left no-repeat;    
    }
    .wiab_arrow .wiab_s {
      background: url("/static/images/down.png") bottom no-repeat;    
    }
    .wiab_arrow .wiab_e {
      background: url("/static/images/right.png") right no-repeat;    
    }
    .wiab_arrow .wiab_n {
      background: url("/static/images/up.png") top no-repeat;    
    }
    .wiab_arrow .wiab_nw {
      background: url("/static/images/nw.png") left no-repeat;    
    }
    .wiab_arrow .wiab_sw {
      background: url("/static/images/sw.png") bottom no-repeat;    
    }
    .wiab_arrow .wiab_se {
      background: url("/static/images/se.png") right no-repeat;    
    }
    .wiab_arrow .wiab_ne {
      background: url("/static/images/ne.png") top no-repeat;    
    }
    
    .wiab_arrow .wiab_w .wiab_active {
      background: url("/static/images/left-active.png") left no-repeat;    
    }
    .wiab_arrow .wiab_s .wiab_active {
      background: url("/static/images/down-active.png") bottom no-repeat;    
    }
    .wiab_arrow .wiab_e .wiab_active {
      background: url("/static/images/right-active.png") right no-repeat;    
    }
    .wiab_arrow .wiab_n .wiab_active {
      background: url("/static/images/up-active.png") top no-repeat;    
    }    
    .wiab_arrow .wiab_nw .wiab_active {
      background: url("/static/images/nw-active.png") left no-repeat;    
    }
    .wiab_arrow .wiab_sw .wiab_active {
      background: url("/static/images/sw-active.png") bottom no-repeat;    
    }
    .wiab_arrow .wiab_se .wiab_active {
      background: url("/static/images/se-active.png") right no-repeat;    
    }
    .wiab_arrow .wiab_ne .wiab_active {
      background: url("/static/images/ne-active.png") top no-repeat;    
    }
    
    .wiab {
      display: none;
      position: absolute;
      text-align: center;
      text-decoration: none;
      font-weight: bold;      
      line-height: 20px;
      color: #333333;
      width: 64px;
      height: 64px;      
      background: url("/static/images/button.png");
    }
    .wiab_active {
      color: #000044;
      background: url("/static/images/button-active.png");
    }
    .wiab img {
      position: absolute; 
      left: -128px;
      top: -128px;
      height: 256px; 
      width: 256px; 
      color: white;
    }
    .wiab_w {
      display: none;
      left: -128px;
      top: -32px;  
    }
    .wiab_sw {
      display: none;
      left: -91px;  
      bottom: -80px;
    }
    .wiab_s {
      display: none;
      left: -32px;
      bottom: -96px;
    }
    .wiab_se {
      display: none;
      right: -91px;  
      bottom: -80px;
    }
    .wiab_e {
      display: none;
      right: -128px;  
      top: -32px;
    }
    .wiab_nw {
      display: none;
      left: -91px;  
      top: -80px;
    }
    .wiab_n {
      display: none;
      left: -32px;
      top: -96px;
    }
    .wiab_ne {
      display: none;
      right: -91px;  
      top: -80px;
    }

    
        

    
